.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.hw100-oh{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.nodata{
  height: 100%;
  width: 100%;
  background-image: url("~@img/common_icon/nodata.png");
  background-position: center center;
  background-size: 250px 250px ;
  background-repeat: no-repeat;
}

.nodata:after{
  content: "暂无数据";
  font-size: 20px;
  color: #C2D4E4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 168px);
}



